{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>运维平台</title>
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap-datetimepicker.css" %} rel="stylesheet">
    <link href={% static "css/sb-admin.css" %} rel="stylesheet">
    <link href={% static "font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
    <link href="http://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src={% static "js/jquery.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <!-- <script src={% static "bootstrap/js/jquery-1.8.3.min.js" %}></script> -->
    <script src={% static "bootstrap/js/bootstrap-datetimepicker.js" %}></script>
    <script src={% static "js/masklayer.min.js" %}></script>
    <script src={% static "bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" %}></script>
    <script src={% static "js/echarts.js"%}></script>
    <script src="http://cdn.bootcss.com/bootbox.js/3.0.0/bootbox.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
		<a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp {{ request.user }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
			<a href='#' data-toggle='modal' data-target='#changePassword'><i class="glyphicon glyphicon-hand-right"></i> 修改密码</a>
                        </li>
                        <li>
			<a href={% url 'logout' %} ><i class="fa fa-fw fa-power-off" ></i> 登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/index"><i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#deploy"><i class="fa fa-fw fa-github-alt"></i> 项目管理 <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="deploy" class="collapse">
                            <li>
			    <a href='javascript:;' data-toggle='collapse' data-target='#add'>添加版本库</a>
			       <ul id='add' class='collapse'>
				   <li> <a href={%url 'deploy:add_svn_repo'%}>SVN库</a></li>
				   <li> <a href={%url 'deploy:add_git_repo'%}>Git库</a></li>
			       </ul>
                            </li>
                            <li>
			    <a href={% url 'deploy:list_repo_info' %}>版本库列表</a>
                            </li>
                            <li>
			    <a href={%url 'deploy:deploy_project'%}>发布工程</a>
                            </li>
                            <li>
			    <a href={%url 'deploy:list_deploy_info'%}>发布日志</a>
                            </li>
                            <li>
			    <a href={%url 'deploy:rollback_project'%}>代码回滚</a>
                            </li>
                        </ul>
                    </li>
                   <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#source"><i class="fa fa-fw fa-bar-chart-o"></i> 资产管理 <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="source" class="collapse">
			    <!--
                            <li>
			    <a href={% url 'asset:overview' %}>云资产概览</a>
                            </li>
			    -->
			    {%if request.user.is_superuser %}
                            <li>
			    <a href={% url 'asset:query_cmd_log' %}>命令审计</a>
                            </li>
			    {%endif%}
                        </ul>
	       	</li>
                   <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#saltstack"><i class="fa fa-fw fa-wrench"></i> SaltStack <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="saltstack" class="collapse">
                            <li>
			    <a href={% url 'salts:host_info' %}>主机信息</a>
                            </li>
			    {%if request.user.is_superuser %}
                            <li>
			    <a href={% url 'salts:deploy' %}>应用部署</a>
			    </li>
			    {%endif%}
			    <li>
                            <a href={% url 'salts:cmd_run' %}>命令执行</a>
                            </li>
                            <li>
			    <a href={% url 'salts:list_app_deploy_info'%}>部署记录</a>
			    </li>
                            <li>
			    <a href={% url 'salts:list_cmd_run_info'%}>命令记录</a>
			    </li>
			    {%if request.user.is_superuser %}
                            <li>
			    <a href={% url 'salts:upload_file' %}>文件分发</a>
			    </li>
                            {%endif%}
                            <li>
			    <a href={% url 'salts:download_file' %}>文件下载</a>
			    </li>
			    <li>
			    <a href={% url 'salts:code_deploy' %}>代码发布</a>
			    </li>
                        </ul>
	       	</li>
                <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#zabbix"><i class="fa fa-fw fa-user"></i> 用户管理<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="zabbix" class="collapse">
                            <li>
			    <a href={%url 'users:userList'%}>用户信息</a>
                            </li>
			    {%if request.user.is_superuser%}
                            <li>
			    <a href='#' data-toggle='modal' data-target='#addUser' >添加用户</a>
                            </li>
			    {%endif%}
                        </ul>
	       	</li>
			    {%if request.user.is_superuser%}
                 <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#auths"><i class="fa fa-fw fa-user"></i> 权限管理<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="auth" class="collapse">
                            <li>
			    <a href={%url 'auths:db_info_list'%}>数据库管理</a>
                            </li>
                            <li>
			    <a href='#'>数据库管理</a>
                            </li>
                        </ul>
	       	</li>
			    {%endif%}
                 <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#zabbix"><i class="fa fa-fw fa-cubes"></i> Zabbix集成 <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="zabbix" class="collapse">
                            <li>
			    <a href='#'>报表</a>
                            </li>
                        </ul>
	       	</li>
                 
                 </ul>
             </div>
        </nav>
             


        <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		       <div class="modal-dialog">
			   <div class="modal-content">
			       <div class="modal-header">
				   <button type="button" class="close" data-dismiss="modal" 
				       aria-hidden="true">×
				   </button>
				   <h4 class="modal-title" id="myModalLabel">
				       修改密码
				   </h4>
			       </div>
			       <div class="modal-body">
				   
				   <form id='id_password_form' class='form-horizontal'  method='post' role='form'>
				       <div class='form-group' >
					   <label for='remark' class='col-sm-2 control-label'>原密码</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_old_password" maxlength="100" name="type" type="password" />
					   </div>
				       </div>

				       <div class='form-group' >
					   <label for='remark' class='col-sm-2 control-label'>新密码</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_new_password" maxlength="100" name="version" type="password" />
					   </div>
				       </div>
				     
				       <div class='form-group' >
					   <label for='remark' class='col-sm-2 control-label'>确认密码</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_again_password" maxlength="100" name="version" type="password" />
					   </div>
				       </div>
				     
				       <div class="modal-footer">
					    <button type="button" class="btn btn-default" 
					       data-dismiss="modal">不保存
					     <button id='id_password_submit' type="button" class="btn btn-primary" data-dismiss='modal'  onclick='return change_password(this);'>
						   保存
					       </button>
				      </div>
				       </form> 
				   </div>
			       </div><!-- /.modal-content -->
			   </div><!-- /.modal-dialog -->
		       </div><!-- /.modal -->




 <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		       <div class="modal-dialog">
			   <div class="modal-content">
			       <div class="modal-header">
				   <button type="button" class="close" data-dismiss="modal" 
				       aria-hidden="true">×
				   </button>
				   <h4 class="modal-title" id="myModalLabel">
				       添加用户
				   </h4>
			       </div>
			       <div class="modal-body">
				   
				   <form id='id_user_form' class='form-horizontal'  method='post' role='form'>
				       <div class='form-group' >
					   <label for='remark' class='col-sm-3 control-label'>用户名</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_username" maxlength="100" name="type" type="text" />
					   </div>
				       </div>

				       <div class='form-group' >
					   <label for='remark' class='col-sm-3 control-label'>邮箱名</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_email" maxlength="100" name="type" type="text" />
					   </div>
				       </div>
				       <div class='form-group' >
					   <label for='remark' class='col-sm-3 control-label'>新密码</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_userpassword" maxlength="100" name="version" type="password" />
					   </div>
				       </div>
				     
				       <div class='form-group' >
					   <label for='remark' class='col-sm-3 control-label'>确认密码</label>
					   <div class='col-sm-9'>
					       <input class="form-control" id="id_userpassword_again" maxlength="100" name="version" type="password" />
					   </div>
				       </div>
				     
				       <div class='form-group' >
					   <label for='remark' class='col-sm-3 control-label'>管理员权限</label>
					   <div class='col-sm-9'>
					       <select class="form-control" id="id_isadmin" name="is_admin" >
						   <option value="N">No</option>
						   <option value="Y">Yes</option>
					       </select>
					   </div>
				       </div>
				       <div class="modal-footer">
					    <button type="button" class="btn btn-default" 
					       data-dismiss="modal">取消
					     <button id='id_addUser' type="button" class="btn btn-primary" data-dismiss='modal'  onclick='return addUser();'>
						   添加
					       </button>
				      </div>
				       </form> 
				   </div>
			       </div><!-- /.modal-content -->
			   </div><!-- /.modal-dialog -->
		       </div><!-- /.modal -->










		       <script>
                               function change_password(obj){
				   var old_password=$('#id_old_password').val();
				   var new_password=$('#id_new_password').val();
				   var again_password=$('#id_again_password').val();
				   if(new_password != again_password){
				     alert('新密码不一致！');
				   }
				   else if(new_password==''||again_password==''||old_password==''){
				     alert('请输入所有选项！');
				   }
				   else{
				       options={
					   url:"{% url 'changePassword' %}",
					   data:{old_pwd:old_password,new_pwd:new_password,again_pwd:again_password},
					   type:'post',
					   datatype:'json',
					   error:function(request){alert('connect error');},
					   success:function(data){
					       toastr.options.positionClass = 'toast-top-center';
					       var data=JSON.parse(data);
					       if(data.code==200){
						   toastr.success(data.info);
					       }
					       else{
					          toastr.error(data.info); 
					       }
					       },
				       };
				       $.ajaxSetup({data:{csrfmiddlewaretoken:'{{csrf_token}}'}});
				       $.ajax(options);
				    }
				   //console.log(old_password+'::::'+new_password+':::::'+again_password);
			       }
			       function addUser(){
			          var username=$('#id_username').val();
				  var password=$('#id_userpassword').val();
				  var again_password=$('#id_userpassword_again').val();
				  var email=$('#id_email').val();
				  var is_admin=$('#id_isadmin').val();
				  if(username == '' || password=='' || again_password=='' || email==''){
				     alert('选项不能为空！');
				     return false;
				  }
				  else if(password != again_password){
				      alert('两次密码不一致');
				      return false;
				    }
				    else{
					options={
					    datatype:'json',
					    url: "{%url 'users:userAdd'%}",
					    type:'post',
					    data:{username:username,password:password,email:email,isadmin:is_admin},
					    error:function(reequest){alert('Connect Error')},
					    success:function(data){
					      var data=JSON.parse(data);
					       toastr.options.positionClass = 'toast-top-center';
					      if(data.code=200){
					        toastr.success(data.info);
						window.setTimeout("refreshPage()",1000);
					      }else{
					      toastr.error(data.info);
					      }
					    },
					};
				       $.ajaxSetup({data:{csrfmiddlewaretoken:'{{csrf_token}}'}});
				       $.ajax(options);
				    }
				  //console.log(username+':'+password+':'+again_password+':'+email+':'+is_admin);
			       }
			       function refreshPage(){
			       window.location.reload();
			       }

		       </script>



			   <div  id="page-wrapper">
			       <div class="container-fluid">
				   <!-- Page Heading -->
				   <div class="row">
				       <div class="col-lg-12">
					   <ol class="breadcrumb">
					       {%block head %}
					       {%endblock%}
					   </ol>
				       </div>
				   </div>
				   {%block page_content%}

				   {%endblock%}
			       </div>
			       <!-- /.container-fluid -->

			   </div>
			   <!-- /#page-wrapper -->

		       </div>
		       <!-- /#wrapper -->
		   </body>

	       </html>
