{%extends 'base.html' %}
{%load static %}
{%block head%}
<li>
   <i class='fa fa-dashboard'></i><a href={%url 'index' %}>&nbsp Dashboard</a>
</li>
<li>
   <i class='fa fa-table'></i>&nbsp SaltStack
</li>
<li  class='active'>
<i class='fa fa-building-o'></i>&nbsp; 部署记录
</li>
{%endblock%}

{%block page_content%}

<div class='row'>
    <div class='panel panel-info'>
     <div class='panel-heading'>
	 <h3 class='panel-title'><i class='fa fa-bell'></i>&nbsp 部署记录<h3>
     </div>
     <div class='panel-body'>
          <div class='panel panel-info' style='width:auto;height:600px;margin:auto'>
	      <div class='table-responsive'>
		  <table class="table table-striped table-bordered">
		      <thead>
			  <tr class='info'>
			      <th>操作用户</th>
			      <th>部署时间</th>
			      <th>匹配目标</th>
			      <th>部署应用</th>
			      <th>部署成功主机</th>
			      <th>部署失败主机</th>
			      <th>影响主机数</th>
			      <th>总耗时</th>
			  </tr>
		      </thead>
		      <tbody>
		      {%for info in app_info %}
		      <tr>
		      <td>{{info.user}}</td>
		      <td>{{info.time}}</td>
		      <td>{{info.target}}</td>
		      <td>{{info.application}}</td>
		      <td>{{info.success_hosts}}</td>
		      <td>{{info.failed_hosts}}</td>
		      <td>{{info.total}}</td>
		      <td>{{info.duration}}</td>
                       </tr>
	            {%endfor%}
		      </tbody>
		  </table>
	  </div>
      </div>
	 </div>
  <div class='pager' style='argin-top:30px;width:auto;margin-left:50px'>
	  <span class='step-links'>
	      {%if app_info.has_previous %}
	      <li>  <a href="?page={{app_info.previous_page_number}}">&larr;Previous</a></li>
	      {%endif%}
	      <span class='current'>Page {{app_info.number}} of {{app_info.paginator.num_pages}}</span>
	      {%if app_info.has_next%}
	      <li> <a href="?page={{app_info.next_page_number}}">Next &rarr;</a></li>
	      {%endif%}
	  </span>
      </div>
	 
    </div>
</div>
{%endblock%}
